DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_SECRET_KEY=

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=54322

CORS_ALLOWED_ORIGINS=http://localhost:3000

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_KEY=
SUPABASE_SIGNING_KEY=super-secret-jwt-token-with-at-least-32-characters-long